.cv {
    background-color: #fff;
    display: inline-block;
    width: 900px;
    margin: 30px;
    padding: 60px 120px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: left;
}

.cv .header {
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 28px;
    font-weight: bold;
}

.cv .title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #1aa4d8;
    border-bottom: 1px solid rgba(26, 164, 216, 0.4);
}

.cv .subtitle {
    font-weight: bold;
    margin-bottom: 0;
}

.cv .meta {
    color: #999;
    font-size: 13px;
}

.cv .color-squares,
.cv .color-squares:before,
.cv .color-squares:after {
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.cv .color-squares:before {
    top: 0;
    left: 21px;
    content: '';
    background-color: #fcc62e;
}

.cv .color-squares {
    top: 77px;
    left: 45px;
    background-color: #fc4226;
}

.cv .color-squares:after {
    top: 0;
    left: 42px;
    content: '';
    background-color: #1aa4d8;
}

.cv .address .item {
    display: inline-block;
    margin-right: 15px;
    font-size: 13px;
    color: #999;
}

.cv .section {
    outline: 1px dashed transparent;
    transition: outline-color 0.1s, background-color 0.1s;
    cursor: pointer;
    margin: 0 -10px;
    padding: 0 10px;
    overflow: hidden;
}

.cv .section:hover {
    outline-color: #1aa4d8;
    background-color: #f8f8f8;
}

.cv .subsection + .subsection {
    margin-top: 20px;
}

.cv .section-columns {
    column-count: 2;
}

.cv .section-columns .subsection {
    margin-top: 0;
    break-inside: avoid-column;
}

@media print {
    .cv .section:hover {
        outline: none;
    }

    .cv {
        padding: 0;
        margin: 30px 50px;
    }

    .cv .color-squares {
        display: none;
    }
}
